name: Checks

on: [pull_request]

permissions:
  contents: write
  pull-requests: write

jobs:
  checks:
    strategy:
      matrix:
        os: ['ubuntu-latest']
        node-version: ['20.19.4', '22.21.1', '24.12.0']
    defaults:
      run:
        working-directory: lib
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: |
          npm install
      - name: Lint
        run: |
          npm run lint
      - name: Audit
        run: |
          npm audit --audit-level=high
      - name: Test
        run: |
          npm test
      - name: Build
        run: |
          npm run build
      #- name: Test CLI
      #  run: |
      #    echo "
      #      export default {
      #        rules: {
      #          'file-exists': ['error', {
      #            path: 'README.md',
      #          }],
      #        },
      #      };
      #    " > repofmt.config.ts

      #    node dist/cli.js --help
      #    node dist/cli.js --version

      #    npm link
      #    repofmt run --help
      #    repofmt run --version
      #    repofmt run --config repofmt.config.ts
